.logo {
  font-family: $logo-font;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 20px;
  @media screen and (max-width: 1280px) {
    margin-bottom: 0px;
    font-size: 35px;
  } 
}