//colors
$basic-black: #000000;
$basic-white: #ffffff;
$basic-grey: #D0D0D0;

$text-color-black: #4E4E4E;

$color-bg-cards: rgba(255, 255, 255, 0.37);
$color-bg-card: #f7dfe3;
$color-bg-skroll: #f3cfae;

$color-label-whatsapp: rgba(43, 212, 73, 0.58);
$color-label-vk: #2787F5;
$color-label-instagram: #DD2D75;
$color-label-telegram: #35ACE1;
$color-label-facebook: #1877F2;

//fonts
$basic-font: 'Montserrat', sans-serif;
$logo-font: 'Megrim', cursive;
$motto-font: 'Roboto Mono', monospace;

//images
// $svg-sprite: '../img/svg-sprite/sprite.view.svg';


//screen sizes
$screen-sm-min: 376px;
$screen-md-min: 768px;
$screen-lg-min: 1000px;
$screen-xlg-min: 1200px;

$screen-h-sm-min: 600px;
$screen-h-md-min: 800px;

