.contacts {
  background-image: url('/img/bg/bg-contacts-page.png');
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  height: 900px;
  padding-top: 50px;

  &__container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    @media screen and (max-width: 1280px) {
      flex-direction: column-reverse;
    } 
  }

  &__left {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    margin-left: 50px;
    @media screen and (max-width: 1280px) {
      margin-left: 0;
    } 
  }

  &__title {
    margin: auto 0;
  }

  &__section {
    color: $basic-white;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    @media screen and (max-width: 1280px) {
      font-size: 45px;
    } 
  }

  &__nav {
    padding-bottom: 72px;
    @media screen and (max-width: 1280px) {
      padding-bottom: 0px;
    }
  }

  &__nav__link {
    position: relative;
  }

  &__nav__link::before {
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    width: 0%;
    height: 2.2px;
    background-color: $basic-white;
    transition: 0.2s;
  }
  &__nav__link:hover:before {
    width: 100%;
    left: 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    @media screen and (max-width: 1280px) {
      justify-content: center;
    }
    @media screen and (max-width: 570px) {
      justify-content: center;
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    @media screen and (max-width: 1280px) {
      font-size: 25px;
    }
    @media screen and (max-width: 570px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__facebook {
    @media screen and (max-width: 1280px) {
      width: 200px;
    }

    @include sm-md {
      width: 170px;
    }

    @media screen and (max-width: 1280px) {
      width: 126px;
    }
  }

  &__whatsapp {
    @media screen and (max-width: 1280px) {
      width: 120px;
    }
    @media screen and (max-width: 1280px) {
      width: 100px;
    }
  }

  &__telegram {
    @media screen and (max-width: 1280px) {
      width: 120px;
    }
    @media screen and (max-width: 1280px) {
      width: 100px;
    }
  }

  &__instagram {
    @media screen and (max-width: 1280px) {
      width: 120px;
    }
    @media screen and (max-width: 1280px) {
      width: 100px;
    }
  }

  &__vk {
    @media screen and (max-width: 1280px) {
      width: 120px;
    }
    @media screen and (max-width: 1280px) {
      width: 100px;
    }
  }


  &__link {

    &-whatsapp {
      position: absolute;
      left: 0%;
      top: 20%;
      @media screen and (max-width: 1280px) {
        left: 2%;
      }
    }

    &-vk {
      position: absolute;
      left: 1%;
      top: 76%;
      @media screen and (max-width: 1280px) {
        left: 2%;
        top: 70%;
      }
    }

    &-facebook {
      position: absolute;
      left: 30%;
      top: 35%;
      @media screen and (max-width: 1280px) {
        left: 32%;
        top: 38%;
      }
    }

    &-instagram {
      position: absolute;
      left: 63%;
      top: 75%;
    }

    &-telegram {
      position: absolute;
      left:65%;
      top: 10%;
      @media screen and (max-width: 1280px) {
        left: 67%;
      }
    }
  }


  &__label {
    
    &-whatsapp {
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      background-color: $color-label-whatsapp;
      padding: 5px 20px;
      border-radius: 10px;
      position: absolute;
      top: 24%;
      left: 110%;
      transition: all .2s ease-in-out;
      opacity: 0;

      @include sm-md {
        font-size: 18px;
      }

      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    &-vk {
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      position: absolute;
      background-color: $color-label-vk;
      padding: 5px 20px;
      width: 180px;
      border-radius: 10px;
      top: -35%;
      left: 60%;
      transition: all .2s ease-in-out;
      opacity: 0;

      @media screen and (max-width: 1280px) {
       top: 10%;
       left: 110%;
      }

      @include sm-md {
        font-size: 18px;
        width: 121px;
      }

      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    &-facebook {
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      position: absolute;
      background-color: $color-label-facebook;
      padding: 5px 20px;
      width: 180px;
      border-radius: 10px;
      left: 110%;
      top: 35%;
      transition: all .2s ease-in-out;
      opacity: 0;
      @media screen and (max-width: 1280px) {
        left: 110%;
        top: 35%;
      }

      @include sm-md {
        font-size: 18px;
        width: 121px;
      }

      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    &-instagram {
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      position: absolute;
      background-color: $color-label-instagram;
      padding: 5px 20px;
      border-radius: 10px;
      left: -30%;
      top: -35%;
      transition: all .2s ease-in-out;
      opacity: 0;

      @media screen and (max-width: 1280px) {
       left: -143%;
       top: 30%;
      }

      @include sm-md {
        font-size: 18px;
        left: -113%;
      }

      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    &-telegram {
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      position: absolute;
      background-color: $color-label-telegram;
      padding: 5px 20px;
      border-radius: 10px;
      top: 23%;
      left: -142%;
      transition: all .2s ease-in-out;
      opacity: 0;
      @include sm-md {
        font-size: 18px;
        left: -112%;
        top: 33%;
      }

      @media screen and (max-width: 500px) {
        display: none;
      }

    }


  }

  &__link {
    &-whatsapp:hover {
      .contacts__label-whatsapp {
        opacity: 1;
      }
    }
    &-facebook:hover {
      .contacts__label-facebook {
        opacity: 1;
      }
    }
    &-telegram:hover {
      .contacts__label-telegram {
        opacity: 1;
      }
    }
    &-vk:hover {
      .contacts__label-vk {
        opacity: 1;
      }
    }
    &-instagram:hover {
      .contacts__label-instagram {
        opacity: 1;
      }
    }
  }
}
