.home {
  background-image: url('/img/bg/bg-home-desktop.png');
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  height: 100%;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__nav {
    margin: auto 0;
  }

  &__nav__link {
    position: relative;
  }

  &__nav__link::before {
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    width: 0%;
    height: 2.2px;
    background-color: $basic-white;
    transition: 0.2s;
  }
  &__nav__link:hover:before {
    width: 100%;
    left: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  &__item {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    margin-right: 60px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__title {
    text-align: center;
    padding-bottom: 25px;
  }

  &__moto {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: $basic-grey;
  }
}